header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    border-bottom: 1px solid #EEEEEE;
    font-size: 18px;
    padding: 0px 10px;
  }
  
  .logo{
    display: flex;
    align-items: center;
  }
  .logo img{
    max-width: 40px;
    margin-right: 5px;
  }
  
  .navigation .link{
    padding: 10px;
  }
  
  .navigation .link.active{
    background-color: #EEEEEE;
    border-radius: 5px;
  }
  
  .items{
    font-weight: 500;
    min-width: 70px;
  }
  
  @media screen and (max-width: 680px) {
    .navigation{
        display: none;
    }
  }