.App{
  max-width: 1200px;
  margin: auto;
}

/* Header Component */
header{
  height: 70px;
  padding: 10px;
  border-bottom: 1px solid #F2EBE9;
  display: flex;
  justify-content: space-between;
}

.logo{
  display: flex;
  align-items: center;
}
.logo img{
  max-width: 40px;
}

.logo span{
  font-size: 20px;
  padding: 5px;
}

.nav{
  display: flex;
  align-items: center;
}

.nav .link{
  padding: 10px;
}

.nav .link.active{
  background-color: #F2EBE9;
  border-radius: 5px;
}

.nav .auth{
  border: 0px;
  border-radius: 5px;
  margin-left: 10px;
  padding: 10px;
  font-size: 16px;
  background-color: #1C59AE;
  color: #ffffff;
  cursor: pointer;
}

.nav .auth i{
  font-size: 14px;
}

@media screen and (max-width: 480px) {
  .logo span{
      display: none;
  }
}


/* Card Component */
.card{
  border-radius: 5px;
  padding: 10px;
  box-shadow: #F2EBE9 0px 1px 4px;
  margin: 20px 5px;
}

.card .title{
  font-size: 20px;
  margin: 20px 5px;
  font-weight: 600;
}

.card .description{
  font-size: 16px;
  margin: 20px 5px;
}

.card .control {
  font-size: 16px;
  margin: 20px 5px;
  display: flex;
  justify-content: space-between;
}

.card .author {
  font-size: 14px;
  font-weight: 500;
  background-color: #1c59ae13;
  padding: 5px 10px;
  border-radius: 5px;
}

.card .delete{
  color: #ff4747;
  cursor: pointer;
}

/* Create Blog Post Component */
.create .heading{
  text-align: center;
  font-size: 22px;
  margin-top: 20px;
}

.createPost{
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 20px auto;
}

.createPost .title{
  font-size: 20px;
  margin: 10px 0px;
  padding: 10px;
  border-radius: 5px;
  border: 0px;
  box-shadow: #F2EBE9 0px 1px 4px;

}

.createPost .description{
  font-size: 20px;
  margin: 10px 0px;
  padding: 10px;
  border-radius: 5px;
  border: 0px;
  box-shadow: #F2EBE9 0px 1px 4px;
  height: 300px;
}

.createPost button{
  font-size: 18px;
  margin: 10px 0px;
  padding: 15px 20px;
  background-color: #5FD068;
  border: 0px;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}


/* Page Not Found  */
.pageNotFound{
  text-align: center;
  max-width: 500px;
  margin: auto;
}

.pageNotFound p {
  font-size: 24px;
  font-weight: 500;
  margin: 25px auto;
}

.pageNotFound img {
  border-radius: 5px;
  width: 100%;
  margin: 15px auto;
}

.pageNotFound button{
  border: 0px;
  border-radius: 5px;
  margin-left: 10px;
  padding: 10px 20px;
  font-size: 20px;
  background-color: #1C59AE;
  color: #ffffff;
  cursor: pointer;
}


/* Footer Component  */
footer{
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #F2EBE9;
}