.productCard{
    width: 350px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .productCard img{
    max-width: 100%;
    height: 250px;
    margin: 10px 0px;
  }
  
  .productCard .name{
    margin: 10px 0px;
  }
  
  .productCard p{
    font-size: 18px;
    font-weight: 500;
  }
  
  .productCard .action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
  }
  
  .productCard button{
    border: 0px;
    border-radius: 5px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #1C59AE;
    padding: 7px 10px;
    cursor: pointer;
    max-width: 150px;
  }
  
  .productCard button:hover{
    background-color: #103f80;
  }