.App{
  text-align: center;
}

h1{
  font-size: 28px;
  text-align: center;
  margin: 20px;
}

ul{
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

li{
  font: 16px;
  list-style: none;
  margin: 20px 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

li.completed{
  box-shadow: rgba(75, 179, 0, 0.772) 0px 1px 4px;
}

li.incomplete{
  box-shadow: rgba(135, 20, 0, 0.689) 0px 1px 4px;
}

button.delete{
  border: 0px;
  border-radius: 5px;
  background-color: #be3434;
  color: #FFFFFF;
  padding: 5px 10px;
  cursor: pointer;
}

button.trigger{
  border: 0px;
  border-radius: 5px;
  background-color: #0F3460;
  color: #FFFFFF;
  padding: 5px 10px;
  cursor: pointer;
}